.App {
  font-family: sans-serif;
  text-align: center;
}
html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
div[style="position: absolute; pointer-events: none; transform: translate(-50%, -50%); z-index: 1000; top: 50%; color: white; font-size: 20px; left: 50%; background-color: rgba(0, 0, 0, 0.3); padding: 5px; border-radius: 3px; text-align: center;"] {
  display: none;
}
.mapStreetView {
}

#total {
  -webkit-filter: invert(1);
  filter: invert(1);
}
